@media (min-width: 768px) {
  .Sidebar {
    padding-inline-start: var(--base-size-8);
  }
}

.NavList h3 {
  font-weight: normal;
  text-transform: uppercase;
}

.NavList [data-component='ActionList.Divider'] {
  display: none; /* TODO: Find workaround to hide this in component */
}

.NavList h3 {
  text-transform: initial;
  color: var(--brand-color-text-default);
  font-weight: var(--brand-text-subhead-weight-medium);
  font-size: var(--brand-text-subhead-size-medium);
  line-height: var(--brand-text-subhead-lineHeight-medium);
}
