.Sidebar__title {
  display: block;
  padding: var(--base-size-24) var(--base-size-16) 0;
}

.NavList {
  font-family: var(--brand-fontStack-sansSerif);
  font-size: inherit;
}

@media (min-width: 768px) {
  .Sidebar {
    padding-inline-start: var(--base-size-8);
  }
}

.NavList h3 {
  color: var(--brand-color-text-default);
  font-size: var(--brand-text-size-100);
}

.NavListGroup {
  margin-bottom: var(--base-size-24);
}

.NavListItemCapitalize {
  text-transform: capitalize;
}

.NavList__Container li a,
.NavList__Container li button {
  font-size: var(--brand-text-size-200);
  padding-block: 0.5em;
}

.NavList .NavListItem {
  margin-top: var(--base-size-4);
}

.NavList .NavListItem,
.NavList .NavListItem a {
  font-size: inherit;
}
