.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--base-size-20) var(--base-size-12) var(--base-size-20) var(--base-size-16);
  border-bottom: var(--brand-borderWidth-thin) solid var(--brand-color-border-default);
  background: var(--brand-color-canvas-default);
  z-index: 20;
}

@media (max-width: 768px) {
  .Header__searchArea {
    display: none;
    position: absolute;
    top: 72px;
    left: 0;
    margin: 0;
    width: 100%;
    padding: var(--base-size-24);
    padding-top: 0;
    background: var(--brand-color-canvas-default);
    z-index: 2;
  }

  .Header__searchHeaderBanner {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: var(--brand-color-canvas-default);
    padding: var(--base-size-20) var(--base-size-16) var(--base-size-20) var(--base-size-24);
  }

  .Header__searchArea--open .Header__searchHeaderBanner {
    display: block;
  }

  .Header__searchArea--open {
    display: block;
  }

  .Header--searchAreaOpen::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

@media (min-width: 768px) {
  .Header {
    padding: var(--base-size-20) var(--base-size-12) var(--base-size-20) var(--base-size-24);
  }

  .Header__searchArea {
    width: 100%;
    max-width: 350px;
    margin-inline-start: auto;
    margin-inline-end: var(--base-size-16);
  }

  .Header__searchHeaderBanner {
    display: none;
  }
}

.Header__searchInput {
  width: 100%;
}

.Header__siteTitle {
  display: flex;
  gap: var(--base-size-8);
  align-items: center;
  min-width: 230px;
  text-decoration: none;
}

.Header__siteTitle svg {
  fill: var(--brand-color-text-default);
}

.Header__searchResultsList {
  list-style: none;
  padding: 0;
  border-top: var(--brand-borderWidth-thin) solid var(--brand-color-border-default);
  padding-block-start: var(--base-size-16);
}

.Header__searchResultsList li:not(:last-child) {
  margin-block-end: var(--base-size-16);
  padding-block-end: var(--base-size-16);
  border-bottom: var(--brand-borderWidth-thin) solid var(--brand-color-border-default);
}

.Header__searchResultsList a {
  color: var(--brand-color-text-default);
}
