.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--base-size-12);
  padding-inline: var(--base-size-16) var(--base-size-16);
  border-bottom: var(--brand-borderWidth-thin) solid var(--brand-color-border-default);
  background: var(--brand-color-canvas-default);
  z-index: 20;
}

.Header__start {
  display: flex;
  align-items: center;
}

.Header__separator {
  color: var(--borderColor-default);
  font-weight: var(--base-text-weight-light);
  margin-inline-start: var(--base-size-12);
}

.Header__end {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .Header__searchArea {
    display: none;
    position: absolute;
    top: 72px;
    left: 0;
    margin: 0;
    width: 100vw;
    padding: var(--base-size-24);
    padding-top: 0;
    background: var(--brand-color-canvas-default);
    z-index: 2;
  }

  .Header__searchHeaderBanner {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: var(--brand-color-canvas-default);
    padding: var(--base-size-20) var(--base-size-16) var(--base-size-20) var(--base-size-24);
  }

  .Header__searchArea--open .Header__searchHeaderBanner {
    display: block;
  }

  .Header__searchArea--open {
    display: block;
  }

  .Header--searchAreaOpen::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .Header__searchButton,
  .Header__navDrawerContainer {
    display: flex;
  }
}

@media (min-width: 768px) {
  .Header {
    padding-inline: var(--base-size-24) var(--base-size-24);
  }

  .Header__searchArea {
    width: 100%;
    max-width: 350px;
    margin-inline-end: var(--base-size-16);
  }

  .Header__searchHeaderBanner,
  .Header__searchButton,
  .Header__navDrawerContainer {
    display: none;
  }
}

.Header__siteTitle {
  display: flex;
  gap: var(--base-size-8);
  align-items: center;
  margin-inline-end: auto;
  text-decoration: none;
}

.Header__siteTitle svg {
  fill: var(--brand-color-text-default);
}

.Header__siteTitleText {
  @media (max-width: 25rem) {
    display: none;
  }
}

.Header__links {
  display: none;
  margin-inline: var(--base-size-24);
  margin-block: 0;
  padding: 0;
  list-style: none;
  gap: var(--base-size-2);
}

.Header__link {
  text-decoration: none;
  font-size: var(--base-font-size-16);
  font-weight: var(--base-font-weight-500);
  padding: var(--base-size-6) var(--base-size-12);
  border-radius: var(--brand-borderRadius-small);
}

.Header__link:hover {
  background-color: var(--brand-color-canvas-subtle);
}

.Header__externalLinkIcon {
  margin-block-end: var(--base-size-8);
}

@media (min-width: 72rem) {
  .Header {
    padding-block: var(--base-size-16);
  }

  .Header__separator {
    display: none;
  }

  .Header__linksDropdown {
    display: none;
  }

  .Header__links {
    display: flex;
  }
}
