.wrapper {
  position: sticky;
  top: 140px;
  scroll-margin-top: 140px;
}

.heading {
  font-size: .875rem;
  line-height: var(--brand-text-lineHeight-100);
  margin-block-end: var(--base-size-8);
  text-transform: uppercase;
  font-family: var(--brand-fontStack-monospace);
  color: var(--brand-color-text-muted);
  font-weight: var(--base-text-weight-500);
}

.item {
  margin-inline-start: 0 !important;
  margin-block-end: var(--base-size-4);
  transition: transform var(--brand-animation-duration-fast) var(--brand-animation-easing-default);
}

.item[aria-current='location'] {
  transform: translateX(var(--base-size-4));
}

@media screen and (min-width: 2048px) {
  .wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    overflow: auto;
    padding: var(--base-size-40) var(--base-size-40) var(--base-size-40) 0;
    top: 65px;
    max-height: calc(100vh - 65px);
    width: 220px;
  }
}