.reviewedLabel {
  background-color: var(--base-color-scale-purple-0);
  color: var(--brand-color-text-default) !important;
  font-weight: var(--brand-text-weight-300);
}

[data-color-mode='dark'] .reviewedLabel {
  background-color: var(--base-color-scale-purple-8);
}

.icon {
  fill: var(--base-color-scale-purple-5);
}

[data-color-mode='dark'] .icon {
  fill: var(--base-color-scale-purple-1);
}
