.Article {
  display: grid;
}

.Article--withToc {
  gap: var(--base-size-48);
}

.main {
  order: 1;
}

.aside {
  order: 0;
}

@media screen and (max-width: 48rem) {
  .Article--withToc {
    display: flex; /* Prevents column overflow */
    flex-direction: column;
  }
}

@media screen and (min-width: 1023px) {
  .main {
    order: 0;
  }

  .aside {
    order: 1;
  }

  .Article--withToc {
    grid-template-columns: 1fr 200px;
  }
}

@media screen and (min-width: 2048px) {
  .Article--withToc {
    grid-template-columns: 1fr;
  }
}
