.label {
  background-color: var(--base-color-scale-green-0);
  color: var(--brand-color-text-default) !important;
  font-weight: var(--brand-text-weight-300);
}

[data-color-mode='dark'] .label {
  background-color: var(--base-color-scale-green-8);
}

.icon {
  fill: var(--base-color-scale-green-5);
}

[data-color-mode='dark'] .icon {
  fill: var(--base-color-scale-green-1);
}
