.DrawerOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.DrawerPanel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background: var(--brand-color-canvas-default, var(--color-canvas-default));
  z-index: 1;
  display: flex;
  flex-direction: column;
}

