.heading a {
  color: var(--brand-InlineLink-color-rest);
  text-decoration: none;
}

.heading a:hover {
  text-decoration: underline;
}

.heading a:active {
  color: var(--brand-InlineLink-color-pressed);
}
