.wrapper {
  position: sticky;
  top: var(--base-size-112);
}

.heading {
  padding-inline-start: var(--base-size-16);
  margin-block-end: var(--base-size-8);
}

.item {
  margin-block-end: var(--base-size-4);
  transition: transform var(--brand-animation-duration-fast)
    var(--brand-animation-easing-default);
}
.item[aria-current="location"] {
  transform: translateX(var(--base-size-8));
}
