:root {
  --shiki-color-text: #414141;
  --shiki-color-background: transparent;
  --shiki-token-constant: #1976d2;
  --shiki-token-string: #22863a;
  --shiki-token-comment: #aaa;
  --shiki-token-keyword: #d32f2f;
  --shiki-token-parameter: #ff9801;
  --shiki-token-function: #6f42c1;
  --shiki-token-string-expression: var(--shiki-token-string);
  --shiki-token-punctuation: #212121;
  --shiki-token-link: var(--shiki-token-string);
  --shiki-color-ansi-black: #24292e;
  --shiki-color-ansi-black-dim: rgba(36, 41, 46, 0.5);
  --shiki-color-ansi-red: #d73a49;
  --shiki-color-ansi-red-dim: rgba(215, 58, 73, 0.5);
  --shiki-color-ansi-green: #28a745;
  --shiki-color-ansi-green-dim: rgba(40, 167, 69, 0.5);
  --shiki-color-ansi-yellow: #dbab09;
  --shiki-color-ansi-yellow-dim: rgba(219, 171, 9, 0.5);
  --shiki-color-ansi-blue: #0366d6;
  --shiki-color-ansi-blue-dim: rgba(3, 102, 214, 0.5);
  --shiki-color-ansi-magenta: #5a32a3;
  --shiki-color-ansi-magenta-dim: rgba(90, 50, 163, 0.5);
  --shiki-color-ansi-cyan: #1b7c83;
  --shiki-color-ansi-cyan-dim: rgba(27, 124, 131, 0.5);
  --shiki-color-ansi-white: #6a737d;
  --shiki-color-ansi-white-dim: rgba(106, 115, 125, 0.5);
  --shiki-color-ansi-bright-black: #959da5;
  --shiki-color-ansi-bright-black-dim: rgba(149, 157, 165, 0.5);
  --shiki-color-ansi-bright-red: #cb2431;
  --shiki-color-ansi-bright-red-dim: rgba(203, 36, 49, 0.5);
  --shiki-color-ansi-bright-green: #22863a;
  --shiki-color-ansi-bright-green-dim: rgba(34, 134, 58, 0.5);
  --shiki-color-ansi-bright-yellow: #b08800;
  --shiki-color-ansi-bright-yellow-dim: rgba(176, 136, 0, 0.5);
  --shiki-color-ansi-bright-blue: #005cc5;
  --shiki-color-ansi-bright-blue-dim: rgba(0, 92, 197, 0.5);
  --shiki-color-ansi-bright-magenta: #5a32a3;
  --shiki-color-ansi-bright-magenta-dim: rgba(90, 50, 163, 0.5);
  --shiki-color-ansi-bright-cyan: #3192aa;
  --shiki-color-ansi-bright-cyan-dim: rgba(49, 146, 170, 0.5);
  --shiki-color-ansi-bright-white: #d1d5da;
  --shiki-color-ansi-bright-white-dim: rgba(209, 213, 218, 0.5);
}

[data-color-mode='dark'] {
  --shiki-color-text: #d1d1d1;
  --shiki-token-constant: #79b8ff;
  --shiki-token-string: #ffab70;
  --shiki-token-comment: #6b737c;
  --shiki-token-keyword: #f97583;
  --shiki-token-function: #b392f0;
  --shiki-token-string-expression: #4bb74a;
  --shiki-token-punctuation: #bbb;
  --shiki-token-link: var(--shiki-token-string);
  --shiki-color-ansi-black: #586069;
  --shiki-color-ansi-black-dim: rgba(88, 96, 105, 0.5);
  --shiki-color-ansi-red: #ea4a5a;
  --shiki-color-ansi-red-dim: rgba(234, 74, 90, 0.5);
  --shiki-color-ansi-green: #34d058;
  --shiki-color-ansi-green-dim: rgba(52, 208, 88, 0.5);
  --shiki-color-ansi-yellow: #ffea7f;
  --shiki-color-ansi-yellow-dim: rgba(255, 234, 127, 0.5);
  --shiki-color-ansi-blue: #2188ff;
  --shiki-color-ansi-blue-dim: rgba(33, 136, 255, 0.5);
  --shiki-color-ansi-magenta: #b392f0;
  --shiki-color-ansi-magenta-dim: rgba(179, 146, 240, 0.5);
  --shiki-color-ansi-cyan: #39c5cf;
  --shiki-color-ansi-cyan-dim: rgba(57, 197, 207, 0.5);
  --shiki-color-ansi-white: #d1d5da;
  --shiki-color-ansi-white-dim: rgba(209, 213, 218, 0.5);
  --shiki-color-ansi-bright-black: #959da5;
  --shiki-color-ansi-bright-black-dim: rgba(149, 157, 165, 0.5);
  --shiki-color-ansi-bright-red: #f97583;
  --shiki-color-ansi-bright-red-dim: rgba(249, 117, 131, 0.5);
  --shiki-color-ansi-bright-green: #85e89d;
  --shiki-color-ansi-bright-green-dim: rgba(133, 232, 157, 0.5);
  --shiki-color-ansi-bright-yellow: #ffea7f;
  --shiki-color-ansi-bright-yellow-dim: rgba(255, 234, 127, 0.5);
  --shiki-color-ansi-bright-blue: #79b8ff;
  --shiki-color-ansi-bright-blue-dim: rgba(121, 184, 255, 0.5);
  --shiki-color-ansi-bright-magenta: #b392f0;
  --shiki-color-ansi-bright-magenta-dim: rgba(179, 146, 240, 0.5);
  --shiki-color-ansi-bright-cyan: #56d4dd;
  --shiki-color-ansi-bright-cyan-dim: rgba(86, 212, 221, 0.5);
  --shiki-color-ansi-bright-white: #fafbfc;
  --shiki-color-ansi-bright-white-dim: rgba(250, 251, 252, 0.5);
}

pre {
  background-color: var(--brand-color-canvas-subtle);
  border-radius: var(--brand-borderRadius-large);
  padding-top: 1rem;
  padding-block-end: 1rem;
}

code {
  -webkit-box-decoration-break: slice;
  box-decoration-break: slice;
  font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1;
}
code[data-line-numbers] > .line {
  padding-left: 0.5rem;
}
code[data-line-numbers] > .line:before {
  counter-increment: line;
  content: counter(line);
  float: left;
  text-align: right;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
  min-width: 2.6rem;
  height: 100%;
  padding-right: 1rem;
}
code .line {
  margin-block-start: 0 !important;
}
code .line.highlighted {
  background-color: rgba(218, 221, 226, 0.5);
  color: hsl(var(--brand-color-accent-primary) var(--brand-color-accent-primary) 45%/0.5);
  --tw-shadow: 2px 0 currentColor inset;
  --tw-shadow-colored: inset 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
code .line .highlighted {
  --tw-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
  --tw-shadow-colored: 0 0 0 2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  background-color: hsl(var(--brand-color-accent-primary) var(--brand-color-accent-primary) 32%/0.1);
  --tw-shadow-color: hsl(var(--brand-color-accent-primary) var(--brand-color-accent-primary) 32%/0.1);
  --tw-shadow: var(--tw-shadow-colored);
  border-radius: 0.125rem;
}
:is(html[class~='dark'] code .line .highlighted) {
  background-color: hsl(var(--brand-color-accent-primary) var(--brand-color-accent-primary) 77%/0.1);
  --tw-shadow-color: hsl(var(--brand-color-accent-primary) var(--brand-color-accent-primary) 77%/0.1);
  --tw-shadow: var(--tw-shadow-colored);
}
pre {
  contain: paint;
}
pre code {
  color: currentColor;
  border-style: none;
  border-radius: 0;
  min-width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: grid;
  background-color: transparent !important;
  padding: 0 !important;
}
:is(html[class~='dark'] pre code) {
  background-color: transparent !important;
}
pre code .line,
pre:not([data-theme]) {
  padding-left: 1rem;
  padding-right: 1rem;
}
